/* Custom stylesheet */

.my-content {
    padding-top: 5em;
    padding-bottom: 1em;
}

footer {
    border-top: solid 1px;
    padding-top: 1em;
}

ul#categoriesNav {
    padding-bottom: 15px;
}

h2.main-header {
    padding: 10px;
}

span#loading {
    font-size: 18px;
}

h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}